# Dependencies
**/node_modules/
node_modules/
.pnp/
.pnp.js

# Testing
**/coverage/
coverage/

# Production/Builds
**/build/
**/dist/
**/out/
**/.next/
**/.vite/
**/target/
**/.anchor/

# Environment/Secrets
.env
.env*
!package.json
!tsconfig.json
!anchor.json
!gaia_recs.json
**/*.json
!**/package.json
!**/tsconfig.json
!**/anchor.json
!**/gaia_recs.json
!**/target/idl/*.json

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
**/.DS_Store
**/Thumbs.db

# Workspace
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
